/* Import the DM Serif Text font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* Base font for the entire document */
html {
  font: 12px/1.5 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 30rem) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 2rem 0 5rem;
  /* Space at the bottom for footer */
  color: #B0B0B0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  /* Regular weight for body text */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141409;
  /* Ensures body takes full height of the viewport */
}

/* Ensure footer stays at the bottom */
footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  max-width: 40rem;
  margin: 0 auto;
}

footer a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

footer a i {
  font-size: 24px;
}

@media (min-width: 30rem) {
  body {
    margin-top: 1rem;
    /* Adjust top margin for larger screens */
  }
}

/* Basic style for the anchor tag */
a {
  text-decoration: none;
  /* No underline by default */
  color: #eb0801;
  /* Set text color to blue */
  font-family: 'Merriweather', serif;
  /* Use your font-family */
  font-weight: 400;
  /* Set font weight */
  text-underline-offset: 4px;
  /* Add space between text and underline */
}

a:hover {
  text-decoration-style: solid;
  /* Solid underline style on hover */
  text-underline-offset: 2px;
  /* Slightly reduce space between text and underline on hover */
}


small {
  color: #B0B0B0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  /* Use Black 900 weight */
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0.5rem -0.1rem;
  line-height: 1;
  color: #eb0801;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.0rem;
  margin-bottom: 1rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}

h1 a {
  color: inherit;
}

// h2 {
//   font-weight: 700;
//   /* Bold weight for h2 */
//   margin-top: 2rem;
//   font-size: 1.4rem;
//   margin-bottom: 0.75rem;
// }

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-weight: 700;
  /* Bold weight for h3 */
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-weight: 700;
  /* Bold weight for smaller headings */
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* Apply Black 900 weight for larger headings (h1, h2) */
h1,
h2 {
  font-weight: 900;
  /* Black 900 weight for larger headings */
}

p,
ul,
ol,
dl,
blockquote {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  /* Regular weight for paragraph text */
  font-size: 0.8rem;
  color: #eb0801;
  /* Slightly smaller font for normal text */
  line-height: 1.6;
  /* Adjust line-height for readability */
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  padding: 0.5rem 1rem;
  border-left: .25rem solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

.container img,
.container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  text-align: left; 
}

pre,
code {
  background-color: #fff;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.8rem;
}

code {
  padding: .1rem .25rem;
}

pre>code {
  padding: 0;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Top navigation styling */
.top-nav {
  display: flex;
  justify-content: flex-end;
  /* Aligns the items to the right */
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  /* Transparent background */
  position: relative;
  /* Makes it stick at the top */
  width: 100%;
  /* Full width of the parent container */
  max-width: 40rem;
  /* Same max-width as container */
  margin: 0 auto;
  /* Center the navbar horizontally */
  margin-bottom: 2rem;
  /* Add space below the navbar */
}

/* Styling for each link */
.top-nav a {
  color: #eb0801;
  /* Dark color for contrast */
  text-decoration: none;
  margin: 0 1rem;
  /* Space between links */
  font-size: 1.25rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  position: relative;
  /* Required for the hover underline */
}

/* Hover underline effect */
.top-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Slightly below the text */
  width: 0;
  height: 2px;
  /* Height of the underline */
  background-color: #eb0801;
  /* Blue color for the underline */
  transition: width 0.3s ease;
  /* Smooth underline animation */
}

/* On hover, the underline expands */
.top-nav a:hover::after {
  width: 100%;
  /* Full width on hover */
}

.top-nav a.active {
  border-bottom: 2px solid #eb0801;
  /* Adds a dark line under the selected section */
}

/* Style for the image container */
.img-container {
  position: relative;
  display: inline-block;
  /* Ensures the container size matches the image */
  width: 150px;
  height: 150px;
}

/* Style for the image */
.img-container img {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the container properly */
}

.back-link {
  font-size: 24px;
  color: #fff;
}

button {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: #eb0801;
  font-size: 0.8rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  transition: all 0.3s ease;
  box-shadow: -8px 8px 0px #b00501,-7px 7px 0px #b00501,-6px 6px 0px #b00501,-5px 5px 0px #b00501,-4px 4px 0px #b00501,-3px 3px 0px #b00501,-2px 2px 0px #b00501,-1px 1px 0px #b00501;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: -7px 7px 0px #b00501,-6px 6px 0px #b00501,-5px 5px 0px #b00501,-4px 4px 0px #b00501,-3px 3px 0px #b00501;
  transform: translate(-2px, 2px); /* Move diagonally down and left */
  transition: transform 400ms ease; /* Only animate the transform property */
}

button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: -6px 6px 0px #b00501,-5px 5px 0px #b00501;
  transform: translate(-4px, 4px); /* Move diagonally down and left */
  transition: transform 200ms ease; /* Only animate the transform property */
}